<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <%- include("./partials/head") %>
    <title>Spark - simple blog app</title>
  </head>
  <body class="bg-black">
    <%- include("./partials/navbar") %>
    <main class="mt-[160px]">
        <% if(locals.blogs.length === 0) {%>
        <section class="relative">
            <div class="relative ">
                <div class="mx-auto px-6 max-w-7xl md:px-12">
                    <div class="text-center sm:mx-auto sm:w-10/12 lg:mr-auto lg:mt-0 lg:w-4/5">
                        <a href="/signin" class="border border-gray-500 w-fit mx-auto flex justify-between items-center transition duration-200 p-1 group gap-2 rounded-full">
                            <span class="block text-sm px-2 py-0.5 rounded-full  text-white bg-primary-600">Blog</span>
                            <span class="text-sm font-medium text-gray-700 dark:text-gray-300 flex gap-6">
                                Publish your first blog using Spark
                                <div class="flex items-center -space-x-3 group-hover:-translate-x-1 transition-transform duration-300">
                                    <span class="w-2.5 translate-y-[-0.3px] -translate-x-px opacity-0 h-[1.5px] rounded bg-gray-950 dark:bg-white origin-left scale-x-0 transition duration-300 group-hover:opacity-100 group-hover:scale-x-100"></span>
                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-950 dark:text-white -translate-x-2 transition duration-300 group-hover:translate-x-px" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
                                    </svg>
                                </div>
                            </span>
                        </a>
                        <h1 class="mt-8 text-wrap text-4xl md:text-5xl font-semibold text-gray-950 dark:text-white xl:text-5xl xl:[line-height:1.125]">Stay curious. <br class="hidden sm:block"> Discover stories, thinking</h1>
                        <p class="text-wrap mx-auto mt-8 max-w-2xl text-lg text-gray-700 dark:text-gray-300 hidden sm:block">Dive into a world of insights, ideas, and inspiration. Explore the latest trends, delve into deep discussions, and broaden your horizons with our diverse collection of blogs.</p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% } %>
        <% if (locals.blogs.length !== 0) { %>
            <h1 class="text-center text-5xl font-extrabold text-white">Your Blogs</h1>
        <% } %>
   <section class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-3 container mx-auto px-6 py-10 ">
    
    <% blogs.forEach(blog => { %>
        
        <div class="max-w-sm border border-gray-200 rounded-lg shadow bg-black border-gray-600">
            <a href="/blog/<%= blog._id %>" >
                <img class="rounded-t-lg w-full max-h-[210px] object-cover " src="<%= blog?.coverImage %>" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-xl line-clamp-2 font-bold tracking-tight text-gray-900 dark:text-white">
                        <%= blog.title %>
                    </h5>
                </a>
                <p class="mb-3 font-normal line-clamp-4 text-gray-700 dark:text-gray-400">
                    <%= blog.body %>
                </p>
                <p class="mb-3 italic text-sm  font-light line-clamp-4 text-gray-700 dark:text-gray-400 "><span class="">by <%= user.fullName %></span></p>
                <a href="/blog/<%= blog._id %>" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>
    <% }); %>
   </section>
   </main>
   <%- include("./partials/footer") %>

    <%- include("./partials/scripts") %>
  </body>
</html>
